@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1700px;
  width: 95%;
  margin: 0 auto;
}

.active {
  background-color: #FFF;
}

.disable {
  background-color: #E7E6E1;
}

body {
  font-family: 'Roboto', sans-serif;
}

th {
  border-bottom: 1px solid #D1CFD7;
  padding: 7px 10px;
  color: #8D8F93;
}

td {
  border-bottom: 1px solid #D1CFD7;
  padding: 7px 10px;
}

caption {
  text-align: left;
  margin-bottom: 26px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-information__avatar {
  margin-right: 11px;
}

.header-information__name {
  margin-right: 10px;
}

.header-information__logout {
  cursor: pointer;
  margin-right: 18px;
}

.subheader {
  background-color: #F3F2ED;
  max-height: 48px;
  padding: 17px 27px;
}

.subheader-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subheader-block__category {
  margin-left: 25px;
  color: #058DC7;
}

.subheader-block__category::after {
  content: ">";
  margin-left: 5px;
}

.subheader-block__info {
  margin-left: 5px;
  color: #707478;
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.peoples {
  min-width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.peoples__find {
  background-color: #F9F8F6;
  border: none;
  outline: none;
  max-height: 22px;
  padding: 0 25px;
}

.peoples-block {
  padding: 20px 29px;
  max-height: 90px;
  border-bottom: 1px solid #DFDBDC;
}

.peoples-block__avatar {
  height: 50px;
  width: 50px;
  float: left;
  margin-right: 12px;
}

.peoples-block__name {
  color: #058DC7;
}

.peoples-block__workplace {
  font-size: 12px;
  color: #808080;
}

.peoples-block__status {
  display: inline-block;
  height: 18px;
  font-size: 10px;
  background-color: #D2154F;
  text-align: center;
  color: #FFFFFF;
}

.info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 16px 21px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info-main {
  width: 325px;
}

.info-main__avatar {
  width: 58px;
  height: 58px;
  float: left;
  margin-right: 15px;
}

.info-main__name {
  margin-top: -5px;
  font-size: 25px;
  line-height: 34px;
  margin-bottom: 2px;
  position: relative;
}

.info-main__name::after {
  content: url("/img/whatch.png");
  position: absolute;
  top: -10px;
  margin-left: 3px;
}

.info-main__workplace {
  color: #808080;
  font-size: 12px;
}

.info-stats {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.info-stats-time {
  margin-left: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-stats-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 59px;
  margin-top: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info-stats-blocks-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.info-stats-blocks-item {
  border-right: 1px solid #C6C6C6;
  padding-right: 90px;
}

.info-anomaly {
  margin-top: 80px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-anomaly__title {
  margin-left: 17px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 20px;
}

.info-anomaly-block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  padding: 0px 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 74px;
  width: 404px;
  border: 1px solid #EE144E;
  vertical-align: middle;
  margin-bottom: 73px;
  margin-left: 17px;
}

.info-anomaly-block__img {
  margin-right: 14px;
}

.info-statistics__title {
  margin-bottom: 11px;
}

.info-statistics__data {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 1310px;
  height: 195px;
  background: #F3F2F2;
  color: #989898;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 23px;
}

.info-statistics__data::after {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.info-tables {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.info-tables__categories {
  border-collapse: collapse;
  border-spacing: 70px 20px;
}

.info-tables__sites {
  border-collapse: collapse;
  border-spacing: 70px 20px;
}

.info-tables__discipline {
  border-collapse: collapse;
  border-spacing: 70px 20px;
}
/*# sourceMappingURL=style.css.map */