.container
    max-width: 1700px
    width: 95%
    margin: 0 auto
.active
    background-color: #FFF
.disable
    background-color: #E7E6E1

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body
    font-family: 'Roboto', sans-serif;