.main-section
    display: flex
.peoples
    width: 340px
    display: flex
    flex-direction: column
    &__find
        background-color: #F9F8F6
        border: none
        outline: none
        max-height: 22px
        padding: 0 48px
    &-block
        padding: 20px 29px
        // background-color: #E7E6E1
        max-height: 90px
        border-bottom: 1px solid #DFDBDC
        // &::after
        //     content: ""
        //     width: 100%
        //     color: #DFDBDC
        &__avatar
            height: 50px
            width: 50px
            float: left
            margin-right: 12px
        &__name
            color: #058DC7
        &__workplace
            font-size: 12px
            color: #808080
        &__status
            display: inline-block
            height: 18px
            font-size: 10px
            background-color: #D2154F
            text-align: center
            color: #FFFFFF

.info
    display: flex
    padding: 16px 21px
    &-main
        width: 325px
        &__avatar
            width: 58px
            height: 58px
            float: left
            margin-right: 15px
        &__name
            margin-top: -5px
            font-size: 25px
            line-height: 34px
            margin-bottom: 2px
            position: relative
            &::after
                content: url('/img/whatch.png')
                position: absolute
                top: -10px
                margin-left: 3px
        &__workplace
            color: #808080
            font-size: 12px
    &-stats
        margin-left: 59px
        display: flex
        flex-direction: column
        &__onlinetime
            color: #808080
            font-size: 12px
        &-block
            margin-right: 90px
            &__img
        &-blocks
            display: flex
            align-items: center
            justify-content: space-between
            flex-wrap: wrap
            
